@page "/books"
@using Models

@inject IWebHostEnvironment WebHostEnvironment  
@* ^ gives us access to the webroot directory, i.e. wwwroot *@


<h3>Book List</h3>

@* 1. section to display error messages *@
@if (errorMessages.Count > 0)
{
    <div class="alert alert-danger">
        <p>Please fix the following errors:</p>
        <ul>
            @foreach(string message in errorMessages)
            {
                <li>@message</li>
            }
        </ul>
    </div>
}

@* 2. table that renders CSV contents into table rows *@
@if (books is not null && books.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Pages</th>
                <th>Publish Date</th>
                <th>Genre</th>
                <th>In Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var currentBook in books)
            {
                <tr>
                    <td>@currentBook.Title</td>
                    <td>@currentBook.Pages</td>
                    <td>@currentBook.PublishDate</td>
                    <td>@currentBook.Genre</td>
                    <td>@currentBook.InStock</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">There are no books in the library.</div>
}



@* 3. logic to facilitate loading & rendering CSV contents into table *@
@code {

    @* 3.a) starter instances *@
    private List<BookWithoutDataAnnotations>? books;
    private List<string> errorMessages = new();
    private string? feedbackMessage;

    @* 3.b) override our OnInitialized method to load CSV contents
            and do some basic error handling
    *@
    protected override void OnInitialized()
    {
        @* specify the CSV file path *@
        string dataDir = Path.Combine(WebHostEnvironment.ContentRootPath, "Data");
        string csvPath = Path.Combine(dataDir, "books.csv");

        @* parse CSV lines into a string (will need a new method on datamodel class) *@
        string[] lines = File.ReadAllLines(csvPath);

        if (lines.Length > 0)
        {
            // create new list of books
            books = new List<BookWithoutDataAnnotations>();

            // for every line, we're going to check for errors
            foreach(string currentLine in lines)
            {
                try
                {
                    BookWithoutDataAnnotations currentBook = new(); // !!! <-- we're going to need some sort of way of parsing the CSV line and instantiating a book instance !!!
                    books.Add(currentBook);
                }
                catch(Exception ex)
                {
                    
                }
                @* within that, do some manual validation / error message display *@

            }


        }

    }




}
