@page "/report"
<PageTitle>Tabular Query Report</PageTitle>
@rendermode InteractiveServer

<!-- Additional Namespaces-->
@using WestWindSystem.BLL;
@using WestWindSystem.Entities;


<h1>Shipment Query</h1>
<cite>... tabular report using database data</cite>


@if (feedBackMsg.Length > 0)
{
    <div class="alert alert-info">
        <p>@feedBackMsg</p>
    </div>
}

@if (errorMsgs.Count > 0)
{
    <div class="alert alert-danger">
        <p>Please fix the following issues:</p>
        <ul>
            @foreach (var error in errorMsgs)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}


<div class="row">
    <div class="col-md-3">
        <br />
        <p><b>Hint: Use 2016 as the year!</b></p>
        <p>Or, in SQL Server Management Studio, right click the table -> "Select top 1000 rows" to see what instances you have.</p>
        <p><strong>Input query values</strong></p>
        <label for="year">Enter a year:</label>&nbsp;&nbsp;
        <input id="year" type="number" style="width:100px;"
               @bind="yeararg" />
        <br/><br/>
        <label for="month">Enter a month:</label>&nbsp;&nbsp;
        <input id="month" type="number" style="width:100px;"
               @bind="montharg" />
        <br /><br />
        <button type="submit" @onclick="GetShipments"
                class="btn btn-outline-primary rounded-pill">
            Fetch Shipments
        </button>
    </div>
    <div class="col-md-9">
        @if (shipmentInfo == null)
        {
            <p class="alert alert-info"> Enter desired year and month before searching.</p>
        }
        else if (shipmentInfo.Count == 0)
        {
            <p class="alert alert-info"> There are no shipments on file for @montharg / @yeararg</p>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Shipper</th>
                        <th>Freight $</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in shipmentInfo)
                    {
                        <tr>
                            <td>@item.ShipmentID</td>
                            <td>@item.OrderID</td>
                            <td>@item.ShippedDate.ToString()</td>
                            <td>@item.ShipVia</td>
                            <td align="right">@(string.Format("{0:#,##0.00}",item.FreightCharge))</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>


@code {
    private string feedBackMsg = "";
    private List<String> errorMsgs = new();

    private int yeararg = 0;
    private int montharg = 0;

    private List<Shipment> shipmentInfo = null;
    private List<Shipper> shipperInfo = null;

    [Inject]
    public ShipmentServices _shipmentServices { get; set; }
    [Inject]
    public ShipperServices _shipperServices { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();

        //reasonable values for year and month
        yeararg = DateTime.Today.Year;
        montharg = DateTime.Today.Month;

        //there are two techniques to allow the use of navigational properties on your page
        //      a) bring in a dataset of the table to which you are attempting to navigate
        //      b) use the .Include method on the query itself (see Shipment query for this technique in BLL ShipmentServices)
        
        // Technique (a)
        // this data set is needed to handle the navigation reference used on the table data cell
        //           to display the shipper company name
        // no other coding is needed, the system will match up the dataset to the usage in the table above
        //shipperInfo = _shipperServices.Shipper_GetAll();
    }

    private void GetShipments()
    {
        feedBackMsg = "";
        errorMsgs.Clear();

        if (yeararg < 1950 || yeararg > DateTime.Today.Year)
        {
            errorMsgs.Add($"Invalid year {yeararg}. Year must be between 1950 and today.");
        }
        if (montharg < 1 || montharg > 12)
        {
            errorMsgs.Add($"Invalid month {montharg}. Month must be between 1 and 12.");
        }

        if (errorMsgs.Count == 0)
        {
            //assume search arguments contain valid data
            try
            {
                //consume the service (go get the data)
                shipmentInfo = _shipmentServices.Shipment_GetByYearandMonth(yeararg, montharg);

            }
            catch(ArgumentException ex)
            {
                errorMsgs.Add($"Data value error: {ex.Message}");
            }
            catch (Exception ex)
            {
                errorMsgs.Add($"system error: {ex.Message}");
            }
        }
    }
}